* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    align-items:center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    padding: 24px 16px;
}

header > h1 {
    letter-spacing: -0.05rem;
    font-weight: 400;
    font-size: 32px;
}

header > img {
    height: 52px;
    width: 43px;
    margin: 4px 11px 4px 0px;
}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/
