* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

section {
    background-color: #282D35;
    height: 100%;
    color: #FFFFFF;
}

section > div {
    padding-left: 27px;
    padding-top: 32px;
}

section > div > h1 {
    font-size: 39.06px;
    font-weight: 700;
}

.facts-list {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    max-width: 400px;
}

.facts-list > li {
    margin: 1rem 0;
}

.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}

