* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

.container {
    align-items: center;
    display: flex;
    width: 100%
}

h1 {
    margin-top: 30px;
}

.logo {
    width: 55px;
}

nav {
  margin-left: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-list-item {
    padding-left: 1rem;
    font-size: 1.1rem;
}