html, body {
    margin: 0;
    font-family: Inter;
}

/* Header Stying */

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Entry Styling */

.entry {
    display: flex;
    padding: 18px 40px;
    align-items: center;
}

.entry-image {
    width: 125px;
    height: 168px;
}

.information {
    margin-left: 19px;
    padding: 18px 0;
    font-size: 0.75rem;
}

/* Details (marker, country, link) */

.country {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0 4px;
}

.details {
    align-items: center;
    display: flex;
    font-weight: 300;
}

.maps-link {
    color: #918E9B;
    margin: 0 8px;
}

.marker {
    width: .6rem;
}

/* Main Content (location, dates, description) */
.location {
    font-size: 25px;
    margin: 4px 0;
    padding: 4px 0;
}

.dates {
    font-weight: 700;
}

.description {
    color: #2B283A;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

hr {
    border-color: #F5F5F5;
    border-width: 1px;
    width: 85%;
}