* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    background-color: #21222A;
    color: #61DAFB;
}

nav {
    align-items: center;
    display:flex;
    margin: 1rem;
}

nav img {
    width: 3rem;
    margin: 10px;  
}

nav h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
